* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
body {
  width: 100%;
  background: white;
  color: black;
}
picture {
  width: 520px;
  height: 325px;
  position: absolute;
  left: calc(50% - 260px);
  top: calc(50% - 162px);
}
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}
h1,
span,
a {
  display: inline;
  font-size: small;
  font-weight: 300;
}
a {
  display: block;
  color: black;
  text-decoration: none;
  padding: 8px;
  font-weight: bold;
}
